## 데이터 필터링
* 그룹화한 데이터에서 원하는 데이터 걸러내기

In [3]:
import seaborn as sns 

# tips 데이터 집합 불러오기
tips = sns.load_dataset('tips')
print(tips.shape)
print(tips.head())

(244, 7)
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
# size열 데이터 빈도 확인
print(tips['size'].value_counts())

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

In [4]:
# 주문횟수가 30번 이상인 데이터만 그룹화
tips_filtered = tips.groupby('size').filter(lambda x: x['size'].count() >= 30)
print(tips_filtered.shape)

(231, 7)

In [6]:
#  필터링 후 size열 데이터 빈도 확인
tips_filtered['size'].value_counts()

2    156
3     38
4     37
Name: size, dtype: int64

### 그룹 오브젝트
* groupby 메서드가 반환하는 값인 그룹 오브젝트 확인

In [9]:
# 임의의 10개 데이터 추출
import numpy as np
import seaborn as sns 

np.random.seed(1234)
tips_10 = sns.load_dataset('tips').sample(10)
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
187       30.46  2.00    Male    Yes   Sun  Dinner     5
179       34.63  3.55    Male    Yes   Sun  Dinner     2
31        18.35  2.50    Male     No   Sat  Dinner     4
52        34.81  5.20  Female     No   Sun  Dinner     4
71        17.07  3.00  Female     No   Sat  Dinner     3
6          8.77  2.00    Male     No   Sun  Dinner     2
95        40.17  4.73    Male    Yes   Fri  Dinner     4
131       20.27  2.83  Female     No  Thur   Lunch     2
157       25.00  3.75  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4

In [15]:
# 흡연자 그룹화
grouped = tips_10.groupby('smoker')
print(grouped, '\n')

# 그룹 오브젝트에 포함된 그룹 확인(그룹화된 인덱스)
print(grouped.groups, '\n')

# 그룹 오브젝트의 평균 구하기
avgs = grouped.mean()
print(avgs)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001AD327971C0>

{'Yes': [187, 179, 95], 'No': [31, 52, 71, 6, 131, 157, 5]}

        total_bill       tip      size
smoker
Yes      35.086667  3.426667  3.666667
No       21.365714  3.427143  3.285714

* 그룹 오브젝트에서 데이터 추출하고 반복

In [16]:
# 그룹명을 지정하여 흡연자 데이터만 추출
yes = grouped.get_group('Yes')
yes

     total_bill   tip   sex smoker  day    time  size
187       30.46  2.00  Male    Yes  Sun  Dinner     5
179       34.63  3.55  Male    Yes  Sun  Dinner     2
95        40.17  4.73  Male    Yes  Fri  Dinner     4

In [17]:
# 반복문으로 그룹 오브젝트의 각 그룹 정보 추출
for smoke_group in grouped :
    print(smoke_group)

('Yes',      total_bill   tip   sex smoker  day    time  size
187       30.46  2.00  Male    Yes  Sun  Dinner     5
179       34.63  3.55  Male    Yes  Sun  Dinner     2
95        40.17  4.73  Male    Yes  Fri  Dinner     4)
('No',      total_bill   tip     sex smoker   day    time  size
31        18.35  2.50    Male     No   Sat  Dinner     4
52        34.81  5.20  Female     No   Sun  Dinner     4
71        17.07  3.00  Female     No   Sat  Dinner     3
6          8.77  2.00    Male     No   Sun  Dinner     2
131       20.27  2.83  Female     No  Thur   Lunch     2
157       25.00  3.75  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4)

In [21]:
# 각 그룹을 데이터프레임 형태로 확인
for smoke_group in grouped :
    print('\n그룹명 : ', smoke_group[0])
    print(smoke_group[1])

그룹명 :  Yes
     total_bill   tip   sex smoker  day    time  size
187       30.46  2.00  Male    Yes  Sun  Dinner     5
179       34.63  3.55  Male    Yes  Sun  Dinner     2
95        40.17  4.73  Male    Yes  Fri  Dinner     4

그룹명 :  No
     total_bill   tip     sex smoker   day    time  size
31        18.35  2.50    Male     No   Sat  Dinner     4
52        34.81  5.20  Female     No   Sun  Dinner     4
71        17.07  3.00  Female     No   Sat  Dinner     3
6          8.77  2.00    Male     No   Sun  Dinner     2
131       20.27  2.83  Female     No  Thur   Lunch     2
157       25.00  3.75  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4

* 여러 열을 사용해 그룹 오브젝트 만들고 계산하기

In [22]:
# smoker, day열 기준으로 그룹화
smoker_day = tips_10.groupby(['smoker','day'])
group_avg = smoker_day.mean()
group_avg

             total_bill    tip  size
smoker day
Yes    Thur         NaN    NaN   NaN
       Fri      40.1700  4.730   4.0
       Sat          NaN    NaN   NaN
       Sun      32.5450  2.775   3.5
No     Thur     20.2700  2.830   2.0
       Fri          NaN    NaN   NaN
       Sat      17.7100  2.750   3.5
       Sun      23.4675  3.915   3.5

In [24]:
# 그룹 오브젝트 자료형 및 열 이름 확인
print(type(group_avg), '\n')
print(group_avg.columns, '\n')

# 인덱스 확인
print(group_avg.index)

<class 'pandas.core.frame.DataFrame'>

Index(['total_bill', 'tip', 'size'], dtype='object')

MultiIndex([('Yes', 'Thur'),
            ('Yes',  'Fri'),
            ('Yes',  'Sat'),
            ('Yes',  'Sun'),
            ( 'No', 'Thur'),
            ( 'No',  'Fri'),
            ( 'No',  'Sat'),
            ( 'No',  'Sun')],
           names=['smoker', 'day'])

In [25]:
# 멀티 인덱스에서 값 조회
group_avg.loc['Yes']

      total_bill    tip  size
day
Thur         NaN    NaN   NaN
Fri       40.170  4.730   4.0
Sat          NaN    NaN   NaN
Sun       32.545  2.775   3.5

In [26]:
group_avg.loc['Yes','Fri']

total_bill    40.17
tip            4.73
size           4.00
Name: (Yes, Fri), dtype: float64

In [27]:
group_avg.loc[('Yes','Fri'), :]

total_bill    40.17
tip            4.73
size           4.00
Name: (Yes, Fri), dtype: float64

In [32]:
# 인덱스 초기화 : reset_index 메서드
group_method = tips_10.groupby(['smoker','day']).mean().reset_index()
group_method

  smoker   day  total_bill    tip  size
0    Yes  Thur         NaN    NaN   NaN
1    Yes   Fri     40.1700  4.730   4.0
2    Yes   Sat         NaN    NaN   NaN
3    Yes   Sun     32.5450  2.775   3.5
4     No  Thur     20.2700  2.830   2.0
5     No   Fri         NaN    NaN   NaN
6     No   Sat     17.7100  2.750   3.5
7     No   Sun     23.4675  3.915   3.5

In [33]:
# 인덱스 초기화 : as_index 인자
group_param = tips_10.groupby(['smoker','day'], as_index = False).mean()
group_param

  smoker   day  total_bill    tip  size
0    Yes  Thur         NaN    NaN   NaN
1    Yes   Fri     40.1700  4.730   4.0
2    Yes   Sat         NaN    NaN   NaN
3    Yes   Sun     32.5450  2.775   3.5
4     No  Thur     20.2700  2.830   2.0
5     No   Fri         NaN    NaN   NaN
6     No   Sat     17.7100  2.750   3.5
7     No   Sun     23.4675  3.915   3.5